/* you can add any styles you think could improve user's experience */

.Container{
  display: flex;
  flex-direction: row;
  background-color:papayawhip;
  justify-content: center;
}

.buttonRemove{
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.ContainerCart{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.productt {
  margin-left: 1em;
}

.divContainer{
  display: flex;
  flex-direction: column;
  text-align: center !important;
  justify-content: center !important;

  margin-left: 1em;
  
  
}
button{
  background-color: purple;
  border: none;
  width: 8em;
  height: 3em;
  border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
border: 0px solid #000000;
color: white;

}

button:hover{
  background-color: #56B14C;
}

.buttonTotal{
  background-color: #56B14C;
  border: none;
  width: 10em;
  height: 3em;
  border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
border: 0px solid #000000;

}

.buttonTotal:hover{
  background-color: #56B14C;
}

.ContainerCart{
  margin-top: 2em;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;

}

.buttonTotal{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.buttonTotal{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
  font-size: 1.2em;
}

.Product{
  text-align: center;
}

img{
  border: 2px black solid;
}

